.page {
  margin: 0 auto;
  padding: 0 0 24px;
  box-sizing: border-box;
  max-width: 1280px;
}

@media all and (max-width: 1024px) {
  .page {
    max-width: 1024px;
    /* padding: 0 24px; */
  }
}
@media all and (max-width: 768px) {
  .page {
    max-width: 768px;
    /* padding: 0 24px; */
  }
}

@media all and (max-width: 320px) {
  .page {
    max-width: 320px;
    /* padding: 0 16px; */
  }
}
