.lead {
  margin: 0 auto;
  padding: 24px 0 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  max-width: 984px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .lead {
    padding-bottom: 44px;
  }
}
@media screen and (min-width: 1024px) {
  .lead {
    padding-bottom: 46px;
  }
}
@media screen and (min-width: 1280px) {
  .lead {
    padding-top: 28px;
  }
}
.lead__title {
  margin: 0 auto 16px;
  padding: 0;
  min-width: 288px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 12.5vw;
  line-height: 1.1;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .lead__title {
    margin-bottom: 32px;
    max-width: 720px;
    font-size: 96px;
    line-height: 1.04;
  }
}
.lead__subtitle {
  margin: 0 auto 40px;
  padding: 0;
  min-width: 288px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 5vw;
  line-height: 1.25;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .lead__subtitle {
    margin-bottom: 56px;
    max-width: 640px;
    font-size: 30px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1280px) {
  .lead__subtitle {
    margin-bottom: 64px;
  }
}
.lead__image {
  margin: 0 0 8px 0;
  padding: 0;
  width: 100%;
  align-self: center;
}
@media screen and (min-width: 1024px) {
  .lead__image {
    margin-left: 48px;
    margin-right: 48px;
    max-width: 928px;
  }
}
@media screen and (min-width: 1280px) {
  .lead__image {
    margin-left: 48px;
    margin-right: 48px;
    max-width: 984px;
  }
}
.lead__caption {
  margin: 0 16px;
  padding: 0;
  align-self: flex-start;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  max-width: 984px;
}
@media screen and (min-width: 768px) {
  .lead__caption {
    /* margin-left: 24px; */
    margin: 0;
  }
}
@media screen and (min-width: 1024px) {
  .lead__caption {
    /* margin-left: 48px; */
    margin: 0;
  }
}
@media screen and (min-width: 1280px) {
  .lead__caption {
    /* margin-left: 148px; */
    margin: 0;
  }
}
