.lead {
  margin: 0 auto;
  padding: 24px 0 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  max-width: 984px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .lead {
    padding-bottom: 44px;
  }
}
@media screen and (min-width: 1024px) {
  .lead {
    padding-bottom: 46px;
  }
}
@media screen and (min-width: 1280px) {
  .lead {
    padding-top: 28px;
  }
}
