.header__lang-link_active {
  text-decoration: underline;
  text-underline-offset: 3px;
  opacity: 1;
}
.header__lang-link_active:hover {
  /* в активном состоянии не может быть ссылкой, поэтому эффект наведения отключен */
  opacity: 1;
  cursor: default;
}
