.lead__title {
  margin: 0 auto 32px auto;
  padding: 0;
  font-style: 'Inter Black';
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  max-width: calc(100% - 264px); /* 720 */ 
}
