.lead__image {
  margin: 0 0 8px 0;
  padding: 0;
  width: 100%;
  align-self: center;
}
@media screen and (min-width: 1024px) {
  .lead__image {
    margin-left: 48px;
    margin-right: 48px;
    max-width: 928px;
  }
}
@media screen and (min-width: 1280px) {
  .lead__image {
    margin-left: 48px;
    margin-right: 48px;
    max-width: 984px;
  }
}
