/* NORMALIZE */
@import url('../vendor/normalize.css');
/* @import url('../'); */

/* ROOT */
@import url('../blocks/root/root.css');

/* PAGE */
@import url('../blocks/page/page.css');

/* HEADER  */
@import url('../blocks/header/header.css');
@import url('../blocks/header/__logo/header__logo.css');
@import url('../blocks/header/__lang-links/header__lang-links.css');
@import url('../blocks/header/__lang-item/header__lang-item.css');
@import url('../blocks/header/__lang-link/header__lang-link.css');
@import url('../blocks/header/__lang-link/_active/header__lang-link_active.css');

/* NAV */
@import url('../blocks/nav/nav.css');

/* LEAD  */
@import url('../blocks/lead/lead.css');
@import url('../blocks/lead/__title/lead__title.css');
@import url('../blocks/lead/__subtitle/lead__subtitle.css');
@import url('../blocks/lead/__image/lead__image.css');
@import url('../blocks/lead/__image-foreground/lead__image-foreground.css');
@import url('../blocks/lead/__image-background/lead__image-background.css');
@import url('../blocks/lead/__caption/lead__caption.css');


/* INTRO  */
.intro {
  display: flex;
  flex-direction: column;
}

.intro__title {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
}

.intro__text {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.63;
}

.intro__list {
  margin: 0;
  padding: 0;
}

.intro__list-item {
  margin: 0;
  padding: 0;
  list-style: none;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5;
}

.intro__span-accent {
  font-weight: normal;
}

/* PHOTO-GRID  */
.photo-grid {
}

.photo-grid__items {
  /* ul */
  list-style: none;
  margin: 0;
  padding: 0;
}

.photo-grid__item {
  margin: 0;
  padding: 0;
}

/* PLACE  */

.places {
  display: flex;
  flex-direction: column;
}
.place {
}

.place__title {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
}

.place__image {
}

.place__website {
  margin: 0;
  padding: 0;
}

.place__url-heading {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 2px;
}

.place__link {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-decoration: underline;
  color: #fff;
}

.place__paragraph {
  margin: 0;
  padding: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.63;
}

/* COVER  */
.cover {
  position: relative;
}

.cover__title {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  position: absolute;
  z-index: 1;
}

.cover__subtitle {
  margin: 0;
  padding: 0;
  position: absolute;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  z-index: 1;
}

.cover__overlay {
  margin: 0;
  padding: 0;
  position: absolute;
  background: #2a2c2f;
  opacity: 0.3;
  width: 100%;
  height: 100%;
}

.cover__background {
  margin: 0;
  padding: 0;
  width: 100%;
  /* TODO тут чтото- не так с высотой */
  height: 740px;
  background-image: url('../images/train-depot.jpg');
  background-repeat: no-repeat;
}

/* FOOTER  */
.footer {
  display: flex;
  justify-content: space-between;
}

.footer__links {
  /* ul */
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.footer__link {
  /* a */
  margin: 0;
  padding: 0;
  color: #fff;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.12;
}

.footer__copyright {
  margin: 0;
  padding: 0;
}

/* * {
  outline: 1px solid yellow;
} */

/* FONTS */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../vendor/fonts/inter-web/Inter-Regular.woff?v=3.19') format('woff2'),
    url('../vendor/fonts/inter-web/Inter-Regular.woff?v=3.19') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../vendor/fonts/inter-web/Inter-Bold.woff2?v=3.19') format('woff2'),
    url('../vendor/fonts/inter-web/Inter-Bold.woff?v=3.19') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../vendor/fonts/inter-web/Inter-Black.woff2?v=3.19') format('woff2'),
    url('../vendor/fonts/inter-web/Inter-Black.woff?v=3.19') format('woff');
}
