.photo-grid__items {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 4fr);
  grid-template-rows: auto;
  gap: 16px;
}

@media all and (max-width: 1024px) {
  .photo-grid__items {
    grid-template-columns: repeat(3, 3fr);
    gap: 14px
  }
}

@media all and (max-width: 768px) {
  .photo-grid__items {
    grid-template-columns: repeat(2, 50%);
  }
}

@media all and (max-width: 320px) {
  .photo-grid__items {
    display: flex;
    flex-direction: column;
  }
}
