.cover__background {
  background-image: url('../../../images/cover-trains.jpg');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  min-width: 320px;
  padding-bottom: calc((5 / 8) * 100%);
  box-sizing: border-box;
  position: relative;
}
.cover__background:before {
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2a2c2f;
  opacity: 0.3;
  transition: opacity cubic-bezier(0, 0.1, 0.4, 1) 1s;
}
.cover__background:hover:before {
  opacity: 0.8;
  cursor: pointer;
}
@media screen and (min-width: 1280px) {
  .cover__background {
    width: 1184px;
    align-self: center;
    max-width: 1184px;
    padding-bottom: calc((5 / 8) * 100%);
  }
}
