.cover__background {
  margin: 0 auto;
  padding: 247px 0 245px;
  background-image: url('../../../images/train-depot.jpg');
  background-size: cover;
  max-width: 1184px;
  max-height: 740px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  position: relative;
}

.cover__background:before {
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2a2c2f;
  opacity: 0.3;
  transition: opacity cubic-bezier(0, 0.1, 0.4, 1) 1s;
}

.cover__background:hover:before {
  opacity: 0.8;
  cursor: pointer;
}

/* padding-top: calc((5 / 8) * 100%); */
