.cover__title {
  margin: 0;
  padding: 0;
  min-width: 288px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 10vw;
  line-height: 1.09;
  text-align: center;
  position: absolute;
  top: 16.5%;
  left: 50%;
  transform: translate(-50%);
}
@media screen and (min-width: 768px) {
  .cover__title {
    top: 23.958%;
    font-size: 72px;
    line-height: 1.06;
  }
}
@media screen and (min-width: 1024px) {
  .cover__title {
    top: 30.468%;
    font-size: 72px;
    line-height: 1.06;
  }
}
@media screen and (min-width: 1280px) {
  .cover__title {
    top: 33.108%;
    width: 560px;
  }
}
