.footer {
  padding: 32px 0 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 44px 0 24px;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    min-width: 720px;
  }
}
@media screen and (min-width: 1024px) {
  .footer {
    padding-top: 46px;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    min-width: 928px;
  }
}
.footer__links {
  /* ul */
  list-style: none;
  margin: 0 16px;
  padding: 0;
  min-width: 288px;
}
@media screen and (min-width: 768px) {
  .footer__links {
    margin: 0 0 0 24px;
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    justify-content: flex-start;
    align-items: baseline;
  }
}
@media screen and (min-width: 1024px) {
  .footer__links {
    margin: 0 0 0 48px;
  }
}
.footer__links-item {
  margin-bottom: 32px;
}
.footer__links-item:last-of-type {
  margin-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .footer__links-item {
    margin-right: 18px;
    margin-bottom: 0;
  }
  .footer__links-item:last-of-type {
    margin-right: 0;
    margin-bottom: 0;
  }
}
.footer__link {
  text-decoration: none;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1;
  color: #fff;
  transition: opacity cubic-bezier(0, 0.1, 0.4, 1) 0.5s;
}
.footer__link:hover {
  opacity: 0.8;
}
@media screen and (min-width: 768px) {
  .footer__link {
    font-size: 16px;
    line-height: 1.12;
  }
}
.footer__copyright {
  margin: 0 16px;
  padding: 0;
  min-width: 288px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    margin: 0 24px 0 0;
    min-width: 186px;
    font-size: 14px;
    line-height: 1.14;
    text-align: right;
  }
}
@media screen and (min-width: 1024px) {
  .footer__copyright {
    margin: 0 48px 0 0;
  }
}
