
.lead__image-foreground {
  background-image: url('../../../images/railway.svg');
  background-repeat: no-repeat;
  object-fit: cover;
  width: 938px;
  height: 264px;
  position: absolute;
  top: 14.5%;
  left: 50%;
  transform: translate(-50%);
}
